@charset "UTF-8";

*,*:after, *:before {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(360deg, #392d6d, #E4B1F0, #E4B1F0);
}

#inital_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2%;
    padding-left: 2%;
}

#inital_buttons button {
    margin-right: 2%;
}

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

#comment {
    width: 502px;
    height: 125px;
    resize: none;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comments{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.divToEachComment {
    margin-top: 20%;
    border: 2px solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.Comments_Nickname {
    margin-bottom: 2%;
}

.Comments_Title {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 5%;
}

.Comments_Comment {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

footer {
    height: 10ch;
    display: flex;
    align-items: center;
}

#buttons_configurations{
    display: flex;
}
.toggle-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.toggle-content {
    display: none;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#toggle-checkbox:checked ~ .toggle-content {
    display: block;
}
#toggle-checkbox {
    display: none;
}